<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        * {
            font-family: RobotoCondensed, sans-serif;
        }

        body,html {
            height: 99%;
        }

        p {
            margin: 0;
        }

        .footer {
            border-top: 2px solid black;
            padding-top: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        table {
            text-align: left;
            width: 100%;
            border-collapse: collapse;
        }

        table.items {
            margin-bottom: 10px;
        }

        table.items thead tr.last td, table.items thead tr.first, table tfoot tr {
            border: 2px solid black;
            border-left: none;
            border-right: none;
        }

        th {
            font-weight: normal;
        }

        .space {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        table.items tfoot {
            font-weight: bold;
        }

        img {
            margin-bottom: 10px;
        }

        .our-address,img {
            width: 260px;
            float: right;
        }

        table.header {
            margin-bottom: 15px;
        }

        .clearfix {
            display: block;
            clear: right;
        }

        .currency,.vat {
            text-align: right;
        }
    </style>
</head>
<body>
<div class="invoice">
    <table class="header">
        <tbody>
        <tr>
            <td>
                <div class="their-adress">
                    <p>{{ order.first_name }} {{ order.surname }}</p>
                    <p>{{ order.street_name }} {{ order.house_number }}</p>
                    <p>{{ order.postal }} {{ order.city }}</p>
                </div>
            </td>
            <td>
                {% if logoPath %}
                <img src="{{ logoPath }}" alt="LOGO">
                <div class="clearfix"></div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <div class="our-address">
                    <p>{{ t('shop', '__INVOICE_ADRESS_1__') }}</p>
                    <p>{{ t('shop', '__INVOICE_ADRESS_2__') }}</p>
                    <p>{{ t('shop', '__INVOICE_ADRESS_3__') }}</p>
                    <p>{{ t('shop', '__INVOICE_ADRESS_4__') }}</p>
                    <p>{{ t('shop', '__INVOICE_ADRESS_5__') }}</p>
                </div>
                <div class="clearfix"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="main">
        <table class="items"  style="width:100%; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="text-align: left;" colspan="2">
                    <p class="space"><b>{{ t('shop', 'Invoice') }} {{ order.invoice_number }}</b></p>
                    <p class="space">{{ t('shop', 'Order Number') }} {{ order.id }}</p>
                </th>
                <th style="text-align: left;" colspan="2">{{ order.created_at|date("d.m.Y") }}</th>
            </tr>
            <tr>
                <th style="text-align: left;border: 1px solid #000000; border-left: none; border-right: none;"><b>{{ t('shop', 'Product Name') }}</b></th>
                <th style="text-align: left;border: 1px solid #000000; border-left: none; border-right: none;"><b>{{ t('shop', 'Quantity') }}</b></th>
                <th style="text-align: right;border: 1px solid #000000; border-left: none; border-right: none;"><b>{{ t('shop', 'VAT') }}</b></th>
                <th style="text-align: right;border: 1px solid #000000; border-left: none; border-right: none;"><b>{{ t('shop', 'Price') }}</b></th>
            </tr>
            </thead>
            <tbody>
            {% for orderItem in order.orderItems %}
                <tr>
                    <td><b>{{ orderItem.name }}</b></td>
                    <td>{{ orderItem.quantity }}</td>
                    <td class="vat">{{ app.formatter.asPercent(orderItem.vat / 100) }}</td>
                    <td class="currency">{{ app.formatter.asCurrency(orderItem.single_price, app.payment.currency) }}</td>
                </tr>
            {% endfor %}
            {% if order.discount_code_id %}
                <tr>
                    <td><b>{{ order.discountCode.label }}</b></td>
                    <td></td>
                    <td></td>
                    <td class="currency">{{ '-' ~ order.discountCode.prettyPercent() }}</td>
                </tr>
            {% endif %}
            <tr>
                <td><b>{{ t('shop', 'Shipping costs') }}</b></td>
                <td></td>
                <td></td>
                <td class="currency">{{ app.formatter.asCurrency(order.shipping_price, app.payment.currency) }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;"><p class="space"><b>{{ t('shop', 'excl. VAT') }}</b></p></td>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;"></td>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;text-align: right;"></td>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;text-align: right;">{{ app.formatter.asCurrency(order.totalNetAmount, app.payment.currency) }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;"><p class="space"><b>{{ t('shop', 'Total') }}</b></p></td>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;"></td>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;"></td>
                <td style="border: 1px solid #000000; border-left: none; border-right: none;text-align: right;">{{ app.formatter.asCurrency(order.totalAmount, app.payment.currency) }}</td>
            </tr>
            </tfoot>
        </table>
        <div class="info">
            {% if order.isPaid %}
            <p>{{ t('shop', 'Zahlung per') }} {% if order.type == 'PAYPAL' %}{{ t('shop', 'PayPal') }}{% else %}{{ t('shop', 'Überweisung') }}{% endif %} {{ t('shop', 'erhalten.') }}</p>
            {% else %}
            <p>{{ t('shop', '__INVOICE_PAYMENT_INFO_IF_NOT_PAID__') }}</p>
            {% endif %}
            <br>
            <p>{{ t('shop', '__INVOICE_INFO_BOTTOM_1__') }}</p>
            <br>
            <p>{{ t('shop', '__INVOICE_INFO_BOTTOM_2__') }}</p>
        </div>
    </div>
    {% if order.showBankDetails %}
    <footer class="footer">
        <table>
            <tbody>
            <tr>
                <td>{{ t('shop', 'Bank details:') }}</td>
                <td>{{ t('shop', '__IBAN__') }}</td>
            </tr>
            <tr>
                <td>{{ t('shop', '__BANK_NAME__') }}</td>
                <td>{{ t('shop', '__BIC__') }}</td>
            </tr>
            </tbody>
        </table>
    </footer>
    {%  endif %}
</div>
</body>
</html>
